extends layout

block content
    h1 Card Route
    div.container.card-content
        h2= question
        p
            i Hint: #{hint}
        a(href=`${id}?side=${sideToShow}`)
            button.btn.btn-primary= sideToShowDisplay


